.contenedor-horarios {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.fila-horario {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.encabezado {
    font-weight: bold;
}

/* Ajustes de estilo para el contenido */
.fila-horario > div {
    margin-bottom: 10px;
}


